{% extends 'base.html.twig' %}

{% block title %}Hello TemeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

   <h5> Linkuri la teme</h5>
    <hr>
<a class="btn btn-primary" href="/color" role="button">Color</a>
<a class="btn btn-primary" href="/computed" role="button">Computed</a>
<a class="btn btn-primary" href="/showdate" role="button">ShowDate</a>
<a class="btn btn-primary" href="/exercise" role="button">Exercise</a>
<a class="btn btn-primary" href="/hello" role="button">Hello</a>
<a class="btn btn-primary" href="/counter" role="button">Counter</a>
{% endblock %}
