{% extends 'base.html.twig' %}

{% block title %}Hello ColorController!{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('color') }}
{% endblock %}

{% block body %}
<div id="color" class="container">
<div class="row justify-content-center pt-5">
<div class="col-12">
    {# <div :style="{backgroundColor: randomColor()}" v-for="range in ranges">{* range.id *}</div>
    <button type="button" class="btn btn-light" :style="{backgroundColor: randomColor(range.id)}" v-for="range in ranges">{* range.range *}</button> #}
    <button type="button" class="btn btn-light" id="change" v-on:click="generator">Change Button Color</button>
</div>
</div>
<div class="row justify-content-center pt-3">
<div class="col-12">
    <button type="button" class="btn btn-light custom" :style="{backgroundColor: generator(mycolor)}" id="change" v-on:click="generator">{* mycolor *}</button>
    <button type="button" class="btn btn-light custom" :style="{backgroundColor: generator(mycolor)}" id="change" v-on:click="generator"> {* mycolor *}</button>
    <button type="button" class="btn btn-light custom" :style="{backgroundColor: generator(mycolor)}" id="change" v-on:click="generator"> {* mycolor *}</button>
    <button type="button" class="btn btn-light custom" :style="{backgroundColor: generator(mycolor)}" id="change" v-on:click="generator"> {* mycolor *}</button>
    <button type="button" class="btn btn-light custom" :style="{backgroundColor: generator(mycolor)}" id="change" v-on:click="generator"> {* mycolor *}</button>
    <button type="button" class="btn btn-light custom" :style="{backgroundColor: generator(mycolor)}" id="change" v-on:click="generator"> {* mycolor *}</button>
    <button type="button" class="btn btn-light custom" :style="{backgroundColor: generator(mycolor)}" id="change" v-on:click="generator"> {* mycolor *}</button>
</div>
</div>
<div class="row  justify-content-center pt-3">
<div class="col-12">
    <button type="button" class="btn btn-light custom" :style="{backgroundColor: generator(mycolor)}" id="change" v-on:click="generator"> {* mycolor *}</button>
    <button type="button" class="btn btn-light custom" :style="{backgroundColor: generator(mycolor)}" id="change" v-on:click="generator"> {* mycolor *}</button>
    <button type="button" class="btn btn-light custom" :style="{backgroundColor: generator(mycolor)}" id="change" v-on:click="generator"> {* mycolor *}</button>
    <button type="button" class="btn btn-light custom" :style="{backgroundColor: generator(mycolor)}" id="change" v-on:click="generator"> {* mycolor *}</button>
    <button type="button" class="btn btn-light custom" :style="{backgroundColor: generator(mycolor)}" id="change" v-on:click="generator"> {* mycolor *}</button>
    <button type="button" class="btn btn-light custom" :style="{backgroundColor: generator(mycolor)}" id="change" v-on:click="generator"> {* mycolor *}</button>
    <button type="button" class="btn btn-light custom" :style="{backgroundColor: generator(mycolor)}" id="change" v-on:click="generator"> {* mycolor *}</button>
</div>
<div class="row pt-3 text-right">
    <button class="btn btn-danger" id="change" type="button" v-on:click="background">Change Background</button>
</div>
</div>
</div>


{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('color') }}
{% endblock %}

